<div class="content">
	<app-spinner *ngIf="isLoading"></app-spinner>
	<app-alert *ngIf="error" [message]="error"></app-alert>
	<div class="wrapper">
	   <form [formGroup]="registerForm" (ngSubmit)="registerHandler()">
	   <div class="h5 font-weight-bold text-center mb-3">Register</div>
	   <div class="email">
		  <div class="form-group d-flex align-items-center">
			 <div class="icon">
				<span class="far fa-envelope">
				</span>
			 </div>
			 <input formControlName="email" type="email" class="form-control" placeholder="Email" name="email">
		  </div>
		  <div class="error-message" *ngIf="submitted && f.email.errors?.required">Email is required!</div>
		  <div class="error-message" *ngIf="submitted && f.email.errors?.minlength">Email must be at least 4 characters long!</div>
		  <div class="error-message" *ngIf="submitted && f.email.errors?.email">Invalid email!</div>
	   </div>
	   <div class="username">
		  <div class="form-group d-flex align-items-center">
			 <div class="icon">
				<span class="far fa-user">
				</span>
			 </div>
			 <input formControlName="username" type="text" class="form-control" placeholder="Username"
				name="username">
		  </div>
		  <div class="error-message" *ngIf="submitted && f.username.errors?.required">Username is required!</div>
		  <div class="error-message" *ngIf="submitted && f.username.errors?.minlength">Username must be at least 4 characters long!</div>
	   </div>
	   <div class="phoneNumber">
		  <div class="form-group d-flex align-items-center">
			 <div class="icon">
				<span class="fas fa-phone">
				</span>
			 </div>
			 <input formControlName="phoneNumber" class="form-control" placeholder="Phone" name="phoneNumber">
		  </div>
		  <div class="error-message" *ngIf="submitted && f.phoneNumber.errors?.required">Phone number is required!
		  </div>
		  <div class="error-message" *ngIf="submitted && f.phoneNumber.errors?.minlength">Phone number must be at least 10 characters long!</div>
	   </div>
	   <div class="password">
		  <div class="form-group d-flex align-items-center">
			 <div class="icon">
				<span class="fas fa-key">
				</span>
			 </div>
			 <input formControlName="password" type="password" class="form-control" placeholder="Password"
				name="password">
			 <div class="icon btn">
				<span class="fas fa-eye-slash">
				</span>
			 </div>
		  </div>
		  <div class="error-message" *ngIf="submitted && f.password.errors?.required">Password is required!</div>
		  <div class="error-message" *ngIf="submitted && f.password.errors?.minlength">Password must be at least 4
			 characters long!!
		  </div>
	   </div>
	   <div class="rePassword">
		  <div class="form-group d-flex align-items-center">
			 <div class="icon">
				<span class="fas fa-key">
				</span>
			 </div>
			 <input formControlName="rePassword" type="password" class="form-control" placeholder="Repeat Password"
				name="rePassword">
			 <div class="icon btn">
				<span class="fas fa-eye-slash">
				</span>
			 </div>
		  </div>
		  <div class="error-message" *ngIf="submitted && f.rePassword.errors?.required">Please repeat your password!
		  </div>
		  <div class="error-message" *ngIf="submitted && f.rePassword.errors?.mustMatch">Passwords do not match!</div>
	   </div>
	   <button class="btn btn-primary mb-3">Sign up</button>
	   <div class="text mb-2">You already have an account?<a routerLink="/user/login">Sign in right now</a>. </div>
	   </form>
	</div>
 </div>