<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!isLoading">
  <div *ngIf="!isAuth">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="carousel-item active"
          style="background-image:url('/assets/carousel1.jpg')">
          <div class="container">
            <h1>Auto Sales</h1>
            <p>Find your dream car right now</p>
            <a routerLink="/user/register" class="btn btn-lg btn-primary">Register</a>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-item active"
          style="background-image:url('/assets/carousel2.jpg')">
          <div class="container">
            <h1>Do you to search by brand,model and etc?</h1>
            <p>Make account right now and search your favourite brands</p>
            <a routerLink="/user/register" class="btn btn-lg btn-primary">Register</a>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-item active"
          style="background-image:url('/assets/carousel3.jpg')">
          <div class="container">
            <h1>Do you want to create offers?</h1>
            <p>It's simple just login in your account and make as many offers as you want</p>
            <a routerLink="/user/login" class="btn btn-lg btn-primary">Login</a>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  
  
    <div class="last-offers">
      <h1>Last Published Offers</h1>
      <div class="offers">
        <div *ngIf="offers.length">
          <mat-card class="offer-card" *ngFor="let offer of offers">
            <mat-card-header>
              <mat-card-title>{{offer.brand}}</mat-card-title>
              <mat-card-subtitle>{{offer.model}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{offer.imageURLs[0]}}">
            <mat-card-actions>
              <button mat-button routerLink="/offers/details/{{offer._id}}">Details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  
      <h2 *ngIf="!offers.length">There's no offers</h2>
  
    </div>
  </div>
  
  <div class="loggedInContent" *ngIf="isAuth">
    <div class="loggedIn">
      <img src="https://wallpaperaccess.com/full/915116.jpg">
      <h1>Find your car right now</h1>
      <form [formGroup]="searchOffers">
        <div class="buttons">
          <div class="select select-fancy select-fancy-image">
            <select formControlName="brand" (change)="getModels(searchOffers.value.brand)">
              <option>Any</option>
              <option *ngFor="let brand of brands">{{brand}}</option>
  
            </select>
          </div>
  
  
          <div class="select select-fancy select-fancy-noimage">
  
            <select formControlName="model">
              <option>Any</option>
              <option *ngFor="let model of models">{{model}}</option>
            </select>
          </div>
          <button class="select-fancy" id="searchBtn" (click)="search(searchOffers.value)">Search</button>
        </div>
  
      </form>
  
    </div>
  
    <div>
  
  
    </div>
  
    <div class="last-offers-loggedIn">
      <h2>Last Published Offers</h2>
  
      <div *ngIf="offers.length">
        <div class="offers">
          <mat-card class="offer-card" *ngFor="let offer of offers">
            <mat-card-header>
              <mat-card-title>{{offer.brand}}</mat-card-title>
              <mat-card-subtitle>{{offer.model}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{offer.imageURLs[0]}}">
            <mat-card-actions>
              <button mat-button routerLink="/offers/details/{{offer._id}}">Details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  
      <h2 *ngIf="!offers.length">There's no offers</h2>
  
    </div>
  
  </div>
</div>