<div class="content">
	<div class="wrapper">
	   <form [formGroup]="loginForm" (ngSubmit)="loginHandler()">
	   <div class="h5 font-weight-bold text-center mb-3">Login</div>
	   <div class="username">
		  <div class="form-group d-flex align-items-center">
			 <div class="icon">
				<span class="far fa-user">
				</span>
			 </div>
			 <input formControlName="username" type="text" class="form-control" placeholder="Username" name="username">
		  </div>
		  <div class="error-message" *ngIf="submitted && f.username.errors?.required">Please fill username field!</div>
	   </div>
	   <div class="password">
		  <div class="form-group d-flex align-items-center">
			 <div class="icon">
				<span class="fas fa-key">
				</span>
			 </div>
			 <input formControlName="password" type="password" class="form-control" placeholder="Password" name="password">
			 <div class="icon btn">
				<span class="fas fa-eye-slash">
				</span>
			 </div>
		  </div>
		  <div class="error-message" *ngIf="submitted && f.password.errors?.required">Please fill password field!</div>
	   </div>
	   <button class="btn btn-primary mb-3">Sign in</button>
	   <div class="text mb-2">You haven't register yet?<a routerLink="/auth/login">Sign up right now</a>. </div>
	   </form>
	</div>
 </div>