    
<div class="content">
    <form [formGroup]="editForm" (ngSubmit)="edit(editForm.value)">
    <app-alert *ngIf="error" [message]="error"></app-alert>
        <div class="wrapper rounded bg-white">
            <div class="h3">Edit offer</div>
            <div class="form">
                <div class="row">
                    <div class="sel">
                        <label>Brand</label>
                        <select id="sub" name="brand" formControlName="brand" (change)="getModels(editForm.value.brand)" required>
                            <option value="" selected hidden>Choose brand</option>
                            <option  *ngFor="let brand of brands">{{brand}}</option>
                           
                        </select>
                        <div class="error-message" *ngIf="submitted && f.brand.errors?.required">Brand field is required!</div>
                    </div>
                    <div class="sel">
                        <label>Model</label>
                        <select id="sub" name="model" formControlName="model" required>
                            <option selected >Choose model</option>
                            <option *ngFor="let model of models">{{model}}</option>
                         
                        </select>
                        <div class="error-message" *ngIf="submitted && f.model.errors?.required">Model field is required!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="sel">
                        <label>Year</label>
                        <select id="sub" name="model" formControlName="year" required>
                            <option selected hidden>Any</option>
                            <option *ngFor="let data of years">{{data}}</option>
                        </select>
                        <div class="error-message" *ngIf="submitted && f.year.errors?.required">Year field is required!</div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Color</label>
                        <input formControlName="color" type="text" class="form-control" name="color" required>
                        <div class="error-message" *ngIf="submitted && f.color.errors?.required">Color field is required!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Power</label>
                        <input formControlName="power" type="text" class="form-control" name="power" required placeholder="Enter Number">
                        <div class="error-message" *ngIf="submitted && f.power.errors?.required">Power field is required!</div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Мileage</label>
                        <input formControlName="mileage" type="text" class="form-control" name="mileage" required placeholder="Enter Number">
                        <div class="error-message" *ngIf="submitted && f.mileage.errors?.required">Mileage field is required!</div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Populated place</label>
                        <input formControlName="populatedState" type="text" class="form-control" name="populatedState" required>
                        <div class="error-message" *ngIf="submitted && f.populatedState.errors?.required">Populated state field is required!</div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Price</label>
                        <input formControlName="price" type="tel" class="form-control" name="price" required placeholder="Enter Number">
                        <div class="error-message" *ngIf="submitted && f.price.errors?.required">Price field is required!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Doors</label>
                        <input formControlName="doors" type="text" class="form-control" name="doors" required placeholder="Enter Number">
                        <div class="error-message" *ngIf="submitted && f.doors.errors?.required">Doors field is required!</div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label>Description</label>
                        <input formControlName="description" type="text" class="form-control" name="description" required>
                        <div class="error-message" *ngIf="submitted && f.description.errors?.required">Description field is required!</div>
                    </div>
                </div>
                <div class=" my-md-2 my-3">
                    <label>Condition</label>
                    <select id="sub" name="condition" formControlName="condition" required>
                        <option value="" selected hidden>Choose condition</option>
                        <option>New</option>
                        <option>Used</option>
                    </select>
                    <div class="error-message" *ngIf="submitted && f.condition.errors?.required">Condition field is required!</div>
                </div>
                <div class=" my-md-2 my-3">
                    <label>Тransmission</label>
                    <select id="sub" name="transmission" formControlName="transmission" required>
                        <option value="" selected hidden>Choose transmission</option>
                        <option>Automatic gearbox</option>
                        <option>Manual gearbox</option>
                        <option>Semi-automatic transmission</option>
                    </select>
                    <div class="error-message" *ngIf="submitted && f.transmission.errors?.required">Transmission field is required!</div>
                </div>
                <div class=" my-md-2 my-3">
                    <label>Engine Type</label>
                    <select id="sub" name="engineType" formControlName="engineType" required>
                        <option value="" selected hidden>Choose engine type</option>
                        <option>Petrol</option>
                        <option>Disel</option>
                        <option>Petrol+CNG</option>
                        <option>Methane</option>
                        <option>Electric</option>
                    </select>
                    <div class="error-message" *ngIf="submitted && f.engineType.errors?.required">Engine type field is required!</div>
                </div>
                <div class=" my-md-2 my-3">
                    <label>Categoty</label>
                    <select id="sub" name="category" formControlName="category" required>
                        <option value="" selected hidden>Choose category</option>
                        <option>Sedan</option>
                        <option>Jeep</option>
                        <option>Van</option>
                        <option>Convertible</option>
                        <option>Station Wagon</option>
                        <option>Coupe</option>
                        <option>Hatchback</option>
                    </select>
                    <div class="error-message" *ngIf="submitted && f.category.errors?.required">Category type field is required!</div>
                </div>
                <!-- <input type="file" multiple (change)="selectImages($event)"> -->
                <button class="btn btn-primary mt-3">Edit offer</button>
            </div>
        </div>
    </form>
</div>
