.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.offerH1 { 
  display: flex;
  justify-content: center;
  margin-top: 26px;
}



.container { 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 70px;
}

.last-offers { 
    text-align: center;
    padding-top: 30px;
}


.offer-card {
    max-width: 400px;
    float: left;
    width: 25%;
    padding-left: 70px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    background-color: #f1f1f1;
  }

  .mat-card-image { 
    margin: 0 -16px 16px -67px;
  }

  .example-header-image {
    background-size: cover;
  }

  .loggedIn img { 
    height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .loggedIn h1 { 
    color: white;
    position: absolute;
    top: 101px;
    right: 64%;
  }

 