/* .alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
} */



    :host >>> .alert-custom {
        color: #ffffff;
        background-color: #ff0000;
        width: 236px;
        float: right;
    }
