<div class="container bg-white mt-sm-4 mb-5">

    <div class="d-lg-flex align-items-center">


        <div class="wrapper d-flex justify-content-center flex-column px-md-5 px-1">

            <div class="h3 text-center font-weight-bold">Create your offer</div>

            <div class="row my-4">
                <div class="col-md-6">
                    <label>Brand</label>
                    <input type="text" placeholder="BMW">
                </div>
                <div class="col-md-6 pt-md-0 pt-4">
                    <label>Model</label>
                    <input type="text" placeholder="E46">
                </div>
            </div>
            <div class="row my-md-4 my-2">
                <div class="col-md-6">
                    <label>Power</label>
                    <input placeholder="130">
                </div>
                <div class="col-md-6 pt-md-0 pt-4">
                    <label>Phone</label>
                    <input placeholder="7777777777">
                </div>
            </div>

            <div class="row my-4">
                <div class="col-md-6">
                    <label>Тransmission</label>
                    <input type="text" placeholder="Manual gearbox">
                </div>
                <div class="col-md-6 pt-md-0 pt-4"> <label>Mileage</label>
                    <input type="text" placeholder="100000">
                </div>
            </div>

            <div class="row my-4">
                <div class="col-md-6">
                    <label>Populated place</label>
                    <input type="text" placeholder="Sofia">
                </div>
                <div class="col-md-6 pt-md-0 pt-4"> <label>Color</label>
                    <input type="text" placeholder="White">
                </div>
            </div>

            <div class="row my-4">
                <div class="col-md-6">
                    <label>Price</label>
                    <input type="text" placeholder="7000">
                </div>
                <div class="col-md-6 pt-md-0 pt-4">
                    <label>Category</label>
                    <select name="" id="select">
                        <option>Sedan</option>
                        <option>Jeep</option>
                        <option>Station wagon</option>
                        <option>Coupe</option>
                        <option>Hatchback</option>
                    </select>
                </div>

            </div>

            <div class="row my-md-4 my-2">
                <div class="col-md-6"> <label>Year</label>
                    <input placeholder="1999">
                </div>

                <div class="col-md-6 pt-md-0 pt-4"> <label>Type of engine</label> <select name="engineType" id="select">
                        <option value="ind">Gas</option>
                        <option value="us">Gasoline</option>
                        <option value="us">Gas/Gasoline</option>
                        <option value="uk">Methane</option>
                    </select>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn">Create Offer</button>
                </div>
            </div>


        </div>