@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    background: #F5F1EE;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 250px;
    border-radius: 10px;
    margin-top: 23px;
}

.row { 
    margin-left: 60px !important;
    margin-right: 0px !important;
}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    height: 168px;
    object-fit: cover;
}

span.text-muted {
    font-size: 12px;
}

small.text-muted {
    font-size: 14px;
}

small.text-muted.mt-1 {
    font-size: 14px;
}

h5.mb-0 {
    font-size: 13px;
}

small.ghj {
    font-size: 14px;
}

.mid {
    background: #ECEDF1;
}

h6 { 
    font-size: 14px;
}

h6.ml-1 {
    font-size: 13px
}

small.key {
    text-decoration: underline;
    font-size: 9px;
    cursor: pointer;
}

.btn-danger {
    color: #FFCBD2;
}

.btn-danger:focus {
    box-shadow: none;
}

small.justify-content-center {
    font-size: 9px;
    cursor: pointer;
    text-decoration: underline;
}

.col-sm-4 {
        width: 100%;
        height: 100%;
        max-width: 280px;
        max-height: 510px;
}



.loggedIn span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  .loggedIn span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .loggedIn span a:before,
  .loggedIn span a:after{
    position: absolute;
    content: "Create offer";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #938f8f;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .loggedIn span a:before{
    color: #fff;
    background: #3F51B5;
    transform: rotateY(0deg) translateZ(25px);
  }
  .loggedIn span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .loggedIn span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }


  .loggedOut span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  .loggedOut span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .loggedOut span a:before,
  .loggedOut span a:after{
    position: absolute;
    content: "Login";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #938f8f;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .loggedOut span a:before{
    color: #fff;
    background: #3F51B5;
    transform: rotateY(0deg) translateZ(25px);
  }
  .loggedOut span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .loggedOut span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  

  
